    <div className="navb">
<h1>FashionMode</h1>

<ul>
  <li><a href="/OurServices">OurServices</a></li>
  <li><a href="/HomePage">HomePage</a></li>
    <li><a href="/ContactUs">ContactUs</a></li>
</ul>
</div>


block content
  .home-page
    header
      h1 Bienvenue chez FashionMode
      p Votre destination de mode préférée

    section.featured-products
      h2 Nos Produits en Vedette
      // Inclure ici des composants de produits en vedette

    section.about-us
      h2 À Propos de Nous
      p Découvrez FashionMode, votre source ultime pour la mode et les tendances. Nous proposons une large gamme de vêtements pour hommes, femmes et enfants.
      p Explorez notre collection pour trouver les dernières tendances et les pièces incontournables pour chaque saison.

    section.newsletter
      h2 Inscrivez-vous à Notre Newsletter
      p Recevez les dernières mises à jour sur nos offres spéciales, les nouvelles collections et plus encore.
      // Inclure ici un formulaire d'inscription à la newsletter
