

<h1>FashionMode</h1>

<ul>
  <li><a href="/OurServices">OurServices</a></li>
  <li><a href="/HomePage">HomePage</a></li>
    <li><a href="/ContactUs">ContactUs</a></li>
</ul>




  body
    header
      h1 Nos Services

    section.service
      h2 Service de Personnalisation
      p Nous proposons un service de personnalisation pour vous permettre de créer des vêtements uniques qui vous ressemblent.

    section.service
      h2 Conseils de Style
      p Nos stylistes expérimentés sont là pour vous conseiller sur les dernières tendances et vous aider à trouver le look parfait.

    section.service
      h2 Livraison Rapide
      p Profitez de notre service de livraison rapide pour recevoir vos achats à votre porte en un temps record.

    section.service
      h2 Retours Faciles
      p Nous offrons des retours faciles pour garantir votre satisfaction. Si quelque chose ne vous convient pas, nous le rendrons simple à retourner.
